@use "@/app/scss/variables" as *;

#experience{
    @include full-width;
    overflow-y: hidden;

    .skill-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: rem(50);
        padding-block: rem(50);

        @include breakpoint(tablet){
            flex-direction: column;
            gap: rem(50);
            padding-inline: 3vw;
            padding-top: rem(70);
            padding-bottom: rem(10);
        }

        @include breakpoint(laptop){
            flex-direction: row;
            justify-content: space-between;
            gap: rem(50);
            padding-top: rem(70);
            padding-bottom: rem(100);
        }

        .left{
            position: relative;
            width: 100%;
            aspect-ratio: 3/4;
            border-radius: rem(20);
            overflow: hidden;

            @include breakpoint(tablet){
                width: 100%;
                aspect-ratio: 3/2;
            }

            @include breakpoint(laptop){
                width: 40%;
            }

            img{
                object-fit: cover;
                object-position: 50% 30%;

                @include breakpoint(laptop){
                    object-position: 44% 30%;
                }
            }
        }

        .right{
            display: flex;
            flex-direction: column;
            gap: rem(30);
            padding-inline: rem(10);

            @include breakpoint(tablet){
                gap: rem(50);
            }

            @include breakpoint(laptop){
                padding-right: rem(50);
                gap: rem(30);
                padding-inline: rem(10);
                width: 40%;
            }

            .skills-heading{
                text-align: center;
                text-transform: uppercase;
                font-family: $poppins;
                font-size: rem(20);
                font-weight: 500;

                @include breakpoint(tablet){
                    text-align: start;
                    font-size: rem(25);
                }

                @include breakpoint(laptop){
                    text-align: start;
                    font-size: rem(16);
                }
            }

            .skill-set{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: rem(50);

                .skill{
                    display: flex;
                    align-items: center;
                    gap: rem(10);

                    svg{
                        font-size: rem(30);

                        @include breakpoint(tablet){
                            font-size: rem(40);
                        }

                        @include breakpoint(laptop){
                            font-size: rem(30);
                        }
                    }

                    .skill-para{
                        font-size: rem(18);
                        text-transform: uppercase;
                        font-family: $poppins;
                        font-weight: 500;
                        opacity: 0.5;

                        @include breakpoint(tablet){
                            font-size: rem(20);
                        }

                        @include breakpoint(laptop){
                            font-size: rem(14);
                        }
                    }
                }

                .RRD{
                    grid-row: 5/6;
                    grid-column: 1/3;
                }
            }

            .ordinary-skill{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: rem(20);
                padding-top: rem(15);

                .ord-heading{
                    font-size: rem(18);
                    font-family: $poppins;
                    font-weight: 500;
                    text-transform: uppercase;

                    @include breakpoint(tablet){
                        font-size: rem(25);
                    }

                    @include breakpoint(laptop){
                        font-size: rem(15);
                    }
                }

                .ord-skills{
                    font-size: rem(16);
                    font-family: $poppins;
                    font-weight: 500;
                    text-transform: uppercase;
                    opacity: 0.5;

                    @include breakpoint(tablet){
                        font-size: rem(20);
                    }

                    @include breakpoint(laptop){
                        font-size: rem(14);
                    }

                }
            }

            #border{
                width: fit-content;
                padding: rem(15) rem(20);
                font-weight: 500;
                font-family: $poppins;
                font-size: rem(14);
                background: linear-gradient(to left, #f5f3f0 50%, rgba(169, 169, 169, 0.658) 50%) right;
            background-size: 200%;
            transition: .5s ease-out;

                @include breakpoint(tablet){
                    padding: rem(20) rem(25);
                    font-size: rem(18);
                }

                @include breakpoint(laptop){
                    padding: rem(10) rem(15);
                    font-size: rem(14);
                }

                &:hover{
                    cursor: pointer;
                background-color: rgba(169, 169, 169, 0.658);
                color: $light;
                background-position: left;
                }

                &:active{
                    background-color: $light;
                    color: $dark;
                }
            }
        }
    }
}